@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firebase Cloud Messaging</title>
    <!-- Material Design Theming -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Content/main.css">

    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <!-- Header section containing title -->
        <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
                <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
                    <h3>Firebase Cloud Messaging - Client</h3>
                </div>
            </div>
        </header>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
                <!-- Container for the Table of content -->
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                        <!-- div to display the generated Instance ID token -->
                        <div id="token_div" style="display: none;">
                            <h4>Instance ID Token</h4>
                            <p id="token" style="word-break: break-all;"></p>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                    onclick="deleteToken()">
                                Delete Token
                            </button>
                        </div>
                        <!-- div to display the UI to allow the request for permission to
                             notify the user. This is shown if the app has not yet been
                             granted permission to notify. -->
                        <div id="permission_div" style="display: none;">
                            <h4>Needs Permission</h4>
                            <p id="token"></p>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                    onclick="requestPermission()">
                                Request Permission
                            </button>
                        </div>
                        <!-- div to display messages received by this app. -->
                        <div id="messages"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Import and configure the Firebase SDK -->
    <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
    <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
    <script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
    <script src="~/Scripts/FCM_config.js"></script>
</body>
</html>